[Unit]
Description=dump1090

[Service]
Type=simple
ExecStart=/usr/local/bin/dump1090 --net --no-fix --write-json-every 2

[Install]
WantedBy=multi-user.target
